@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=PT+Serif:ital@1&family=Smokum&display=swap')

$color-default: #d8d8d8
$font-default: 'PT Serif', serif
$backgraund-conteiner: #1C1C1C
$border-conteiner: 3px rgba(216,216,216, 0.1) solid

.conhecimento
    display: flex
    flex-wrap: wrap
    align-content: flex-start 
    width: 80%
    height: 650px
    margin-left: 10%
    justify-content: center
    //  @include mixins.conteiner
        

.linguagens
    background-color: $backgraund-conteiner
    width: 150px
    height: 150px
    margin: 30px
    border: $border-conteiner
    border-radius: 5%
    text-align: center
    padding-top: 1%
    

.icon
    font-size: 120px
    color: #ff3a5e

.titulo2
    font-family: $font-default
    color: $color-default
    text-align: center
    margin-top: 5%
    font-size: 40px
    margin-bottom: 3%
