
.contatos
    display: flex
    flex-direction: flex 
    
.contato
    align-items: center
    text-align: center
    margin-left: 10%
    margin-right: 10%
    margin-top: 3%

.contato1
    text-align: center
    color: #ff3a5e
    font-size: 50px

@media screen and (max-width: 1057px)
    .contato1
        font-size: 47px

@media screen and (max-width: 966px)
    .contato1
        font-size: 35px

@media screen and (max-width: 914px)
    .contato1
        font-size: 38px

@media screen and ( max-width: 815px)
    .contato1
        font-size: 30px

@media screen and ( max-width: 684px)
    .contato
        margin-left: 13%

@media screen and ( max-width: 425px)
    .contato1
        font-size: 20px

@media screen and ( max-width: 318px)
    .contato1
        font-size: 15px
        margin-top: 0