@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=PT+Serif:ital@1&family=Smokum&display=swap')

$font-default: 'PT Serif', serif
$color-default: #ff3a5e
$backgraund-conteiner: #1C1C1C
$border-conteiner: 3px rgba(216,216,216, 0.1) solid

.projetos
    display: flex
    flex-direction: column
    align-content: flex-start 
    width: 80%
    height: 580px
    margin-left: 10%
    margin-top: 3%
    justify-content: center
    background-color: $backgraund-conteiner
    border-radius: 2%
    border: $border-conteiner


.imgProjeto
    width: 250px
    height: 250px
    margin: 10px
    margin-left: 20px
    

.titulo3
    font-family: $font-default
    color: $color-default
    font-size: 25px
    text-align: center
    margin-bottom: 2%

.titulo3:hover
    text-shadow: 0.1em 0.1em 0.1em #d8d8d8

.imgProjeto:hover
   box-shadow: 5px 5px 30px 10px #ff3a5e

.sectionProj
    display: flex
    flex-wrap: wrap
    align-content: flex-start

.link
    text-decoration: none

.btnPai
    text-align: center
    margin-top: 25px

.btn
    font-size: 25px
    color: $color-default
    font-family: $font-default
    background-color: $backgraund-conteiner
    border: none

.btn:hover
    border-bottom: 3px #ff3a5e solid
    border-top: 3px #ff3a5e solid
@media screen and ( max-width: 1407px)
    .imgProjeto
        width: 230px
        height: 230px
    .sectionProj
        justify-content: space-around
    
@media screen and ( max-width: 1307px)
    .imgProjeto
        width: 210px
        height: 210px
    .titulo3
        font-size: 22px

@media screen and ( max-width: 1207px)
    .imgProjeto
        width: 200px
        height: 200px
    
@media screen and ( max-width: 1157px)
    .imgProjeto
        width: 170px
        height: 170px
    .projetos
        height: 540px

@media screen and ( max-width: 1007px)
    .imgProjeto
        width: 150px
        height: 150px
    .titulo3
        font-size: 19px
    .projetos
        height: 500px

@media screen and ( max-width: 907px)
     .imgProjeto
        width: 130px
        height: 130px
     .projetos
        height: 400px

@media screen and ( max-width: 822px)
    .imgProjeto
        width: 100px
        height: 100px
    .titulo3
        font-size: 17px
    .btn
        font-size: 19px
    .projetos
        height: 350px

@media screen and ( max-width: 687px)
    .imgProjeto
        width: 170px
        height: 170px
    .titulo3
        font-size: 20px
    .projetos
        height: 570px
    .btnPai
        margin-top: 8px
    
@media screen and ( max-width: 507px)
    .imgProjeto
        width: 150px
        height: 150px
    .titulo3
        font-size: 17px

@media screen and ( max-width: 457px)
    .imgProjeto
        width: 130px
        height: 130px
    .projetos
        height: 450px
    .btn
        font-size: 15px

@media screen and ( max-width: 407px)
    .imgProjeto
        width: 100px
        height: 100px
    .projetos
        height: 400px
    .titulo3
        font-size: 15px

@media screen and ( max-width: 339px)
    .imgProjeto
        width: 90px
        height: 90px
    .projetos
        height: 380px
    .titulo3
        font-size: 10px
    
@media screen and ( max-width: 307px)
    .imgProjeto
        width: 70px
        height: 70px
    .projetos
        height: 340px
    .btn
        font-size: 13px