@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=PT+Serif:ital@1&family=Smokum&display=swap')

$font-default: 'PT Serif', serif
// $font-stack: 'Dancing Script', cursive
$color-default: #d8d8d8
$backgraund-conteiner: #1C1C1C
$border-conteiner: 3px rgba(216,216,216, 0.1) solid

.divSobre
    width: 80%
    height: 650px
    display: flex
    flex-direction: flex
    background-color: $backgraund-conteiner
    margin-left: 10%
    border-radius: 2%
    border: $border-conteiner

.img
    height: 500px
    border-radius: 10%
    margin-top: 10%
    margin-left: 3%

// .nome1
//     font-family: $font-stack
//     color: #ff3a5e

.sobreMim
    display: flex
    flex-direction: column

.titulo
    font-family: $font-default
    color: $color-default
    margin-top: 20%
    margin-left: 3%
    font-size: 20px
    margin-bottom: 3%

.texto 
    color: $color-default
    font-family: $font-default
    margin-left: 3%
    margin-top: 3%
    line-height: 20px
    margin-right: 2%
    font-size: 20px

@media screen and (max-width: 1057px)
    .img
        height: 480px
    .titulo
        font-size: 15px
    .texto
        font-size: 15px
    .divSobre
        width: 80%
        height: 600px
    
@media screen and (max-width: 914px)
    .img
        height: 450px
        margin-top: 12%
    .texto
        font-size: 15px

@media screen and ( max-width: 837px)
    .img
        height: 380px
        width: 250px
    .titulo
        font-size: 20px
    .divSobre
        width: 80%
        height: 570px
    .texto
        font-size: 13px

@media screen and ( max-width: 684px)
    .divSobre
        display: flex
        flex-direction: column
        height: 600px
        align-items: center
    .img
        height: 200px
        width: 200px
        margin: 6%
        margin-bottom: 0
    .titulo
        margin-top: 0
        margin-bottom: 1px
    .texto
        margin-bottom: 0
        margin-top: 0
    
@media screen and ( max-width: 568px)
    .img
        height: 150px
        width: 150px

@media screen and ( max-width: 427px)
    .titulo
        font-size: 10px
    .texto
        font-size: 10px
    .divSobre
        height: 550px
   
@media screen and ( max-width: 394px)
    .img
        height: 100px
        width: 100px

@media screen and ( max-width: 318px)
    .img
        height: 80px
        width: 100px
        margin-top: 10%
    .texto
        margin-bottom: 0